* {
    border: none;
    border-radius: 0;
    font-family: Blender Pro, Noto Sans JP Bold;
    font-weight: 700;
    min-height: 0;
}

window#waybar {
    background: #000000;
    color: #FF2250;
    font-size: 1em;
}

window#waybar.top, window#waybar.hdmi-top {
    border-bottom: 1px solid #353535;
}

window#waybar.bottom, window#waybar.hdmi-bottom {
    border-top: 1px solid #353535;
}

#window {
    background-color: #FF2250;
}

tooltip {
  background-color: #000000;
  border: 1px solid #FF2250;
}

tooltip label {
  color: #FF2250;
}

#workspaces {
  border-right: 1px solid #353535;
  padding: 0 6px;
}

#workspaces button {
    padding: 8.5px 8px 10.5px 8px;
    background: transparent;
    color: #E0E0E0;
    font-family: Noto Sans JP Medium;
    font-size: 15px;
    opacity: 1;
    outline: none;
}

#workspaces button:hover {
    opacity: 0.9;
    outline: none;
}

#workspaces button.focused, #workspaces button.visible {
    background: transparent;
    color: #FF2250;
    opacity: 1;
    outline: none;
}

#language {
    padding: 0 12px 0 12px;
}

#custom-cpu, #custom-pulseaudio {
    border-left: 1px solid #353535;
}

#custom-cpu, #custom-cpu-tmp-title, #custom-memory-title, #custom-swap-title, #custom-pulseaudio, #custom-network, #custom-uptime-title, #custom-transmission, #custom-transmission-down, #custom-transmission-up, #custom-kernel-title, #custom-audio-device-title {
    font-family: Noto Sans JP Bold;
    padding-bottom: 0.5px;
    font-size: 15px;
    padding-left: 16px;
}

#network, #custom-cpu-load, #custom-network-name, #custom-cpu-tmp, #custom-memory, #custom-swap, #custom-volume, #clock, #language, #custom-uptime, #custom-uptime, #custom-transmission-speed-down, #custom-transmission-speed-up, #custom-time, #custom-kernel, #custom-audio-device {
    padding: 8.5px 16px 9.5px 10px;
    font-size: 15px;
    border-right: 1px solid #353535;
    color: #E0E0E0;
}

#custom-time {
  padding-left: 16px;
  border-right: none;
}

#custom-swap, #custom-volume {
  border-right: none;
}

#custom-cpu-load, #custom-memory {
  border-right: 0px solid #000000;
  padding-right: 12px;
}

#custom-cpu-tmp-title, #custom-swap-title, #custom-audio-device-title {
  padding-left: 0px;
}

#custom-transmission-speed-down {
  border-right: none;
  padding-right: 0px;
}

#custom-transmission-speed-up {
  border-right: none;
}

#language {
  color: #FF2250;
}


#clock, #language {
    padding: 2.85px 12px 0 12px;
}

#network {
    padding-bottom: 0.5px;
}

.bottom #network, #cpu, #memory {
    font-size: 16px;
    font-weight: 900;
    padding: 2.75px 12px 0px 8px;
}

#custom-arasaka {
  font-family: CYBERPUNK;
  font-weight: 600;
  font-size: 24px;
  color: #EAEAEA;
  padding: 2px 12px;
  border-right: 1px solid #353535;
}

#custom-arasaka:hover {
  color: #FF2250;
}

#custom-name, #custom-version {
    background-color: transparent;
    color: #F0F0F0;
    font-size: 15px;
    border-right: 1px solid #353535;
    padding: 0px 0px 0.5px 0px;
}

#custom-name {
  color: #FF2250;
  border-right: none;
  padding-left: 12px;
}

#custom-version {
  padding-right: 12px;
  padding-left: 12px;
  color: #FF2250;
}

#custom-border {
    padding: 4px;
    background-color: #FF2250;
}

#custom-uptime-day, #custom-uptime-hour, #custom-uptime-minute {
  border-right: none;
  padding-right: 2px;
  padding-left: 3px;
}

#custom-uptime-day {
  padding-left: 8px;
}

#custom-uptime-day-title, #custom-uptime-hour-title, #custom-uptime-minute-title {
  padding-left: unset;
  color: #F0F0F0;
}

#custom-uptime-minute-title {
  border-right: 1px solid #FF2250;
  padding-right: 12px;
}
