window {
  margin: 5px;
  border: 1px solid #353535;
  background-color: #000000;
  color: #EAEAEA;
  font-weight: 600;
}

#input {
  margin: 0px;
  padding: 4px 8px;
  border: 0px solid #000000;
  border-bottom: 1px solid #353535;
  border-radius: 0px;
  background-color: #000000;
  outline: none;
}

#inner-box {
  background-color: #000000;
}

#outer-box {
  margin: 1px;
  background-color: #000000;
}

#text {
  margin: 5px;
  padding: 5px;
  font-weight: 600;
} 

#entry:selected,
#text:selected{
  background-color: #101010;
  color: #EAEAEA;
  outline: none;
}
